{% extends 'base.html' %}
{% block content %}
    <h4>{{set.title}}</h4>
    <p style="font-size: 70%">Created: {{set.created}}</p>
    <p>{{set.description}}</p>

    <h5>Посты</h5>
    <div class="list-group">
        {% for post in posts %}
            <a href="/posts/{{post.id}}" class="list-group-item list-group-item-action">
            <img class="mr-3 rounded" src="{{ post.cover.url }}" alt="{{ post.title }}" style="max-width:100px">
                {{ post.title }}
            </a>
        {% endfor %}
    </div>
{% endblock content %}