{% extends 'base.html' %}
{% block head_title %}
  Главная
{% endblock %}
{% block content %}
<div class="text-center">
    <h1 class="cover-heading">Код жазған Демирель.</h1>
    <p class="lead">
      Научись кодить плеча к плечу с теми, у кого есть реальный опыт. Читая статьи или смотря видеонаборы, где показывают как строить проекты, которые нужны рынку.
    </p>
    <p class="lead">
        <a class="btn btn-lg btn-secondary" href="{% url 'sets-list' %}">Посмотрите нашу Видео Библиотеку</a>
    </p>
</div>
{% endblock content %}