{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <a  class="navbar-brand col-sm-3 col-md-2 mr-0">Kod Jazgan Demirel </a>
    <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'sets-list' %}">Библиотека</a>
            </li>
        </ul>
        {% if user.is_authenticated %}
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_email' %}">Настройки</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_logout' %}">Выйти</a>
            </li>
        </ul>
        {% else %}
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_signup' %}">Зарегестрироваться</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_login' %}">Войти</a>
            </li>
        </ul>
        {% endif %}
    </div>
</nav>