{% extends 'base.html' %}
{% block head_title %}
    Пост | {{post.title}}
{% endblock %}
{% block content %}
    <h4>{{post.title}}</h4>
    <p style="font-size: 70%">{{post.created}}</p>
    {% if post.video %}
        <video id="player" playsinline controls data-poster="{{post.cover.url}}">
            <source src="{{post.video.url}}" type="video/mp4" />
        </video>
    {% endif %}
    <p>{{post.content|safe}}</p>
    <br>
    <div>
        <script async src="https://comments.app/js/widget.js?3" data-comments-app-website="SdQTldxU" data-limit="5"></script>
    </div>
<script src="https://cdn.plyr.io/3.6.2/plyr.js"></script>
<script>
  const player = new Plyr('#player');
</script>
{% endblock content %}