{% extends 'base.html' %}
{% block head_title %}
    Пост | {{post.title}}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-10">
            <h4>{{post.title}}</h4>
            <p style="font-size: 70%">{{post.created}}</p>
            {% if post.video %}
                <video id="player" playsinline controls data-poster="{{post.cover.url}}">
                    <source src="{{post.video.url}}" type="video/mp4" />
                </video>
            {% endif %}
            <p>{{post.content|safe}}</p>
        </div>
        <div class="col-sm-2">
            <nav class="nav flex-column">
                {% for menu_item in sidebar %}
                    {% if post.id == menu_item.id %}
                        <a class="nav-link active" href="/posts/{{menu_item.id}}">{{ menu_item.title }}</a>
                    {% else %}
                        <a class="nav-link" href="/posts/{{menu_item.id}}">{{ menu_item.title }}</a>
                    {% endif %}
                {% endfor %}
            </nav>
        </div>
    </div>
    <br>
    <div>
        <script async src="https://comments.app/js/widget.js?3" data-comments-app-website="SdQTldxU" data-limit="5"></script>
    </div>
<script src="https://cdn.plyr.io/3.6.2/plyr.js"></script>
<script>
  const player = new Plyr('#player');
</script>
{% endblock content %}