{% extends 'base.html' %}
{% block head_title %}
    Пост | {{post.title}}
{% endblock %}
{% block content %}
<div class="list-group">
    {% if results|length == 0 %}
        <a class="list-group-item list-group-item-action text-center">
            <span>По запросу не найден ни один пост</span>
        </a>
    {% else%}
        {% for post in results %}
            <a href="/posts/{{post.id}}" class="list-group-item list-group-item-action">
            <img class="mr-3 rounded" src="{{ post.cover.url }}" alt="{{ post.title }}" style="max-height:50px">
            {{ post.title }} | {{post.set}}
            </a>
        {% endfor %}
    {%endif%}
</div>
{% endblock content %}